:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue:hsl(218, 44%, 22%);
    --light-blue:hsl(211, 48%, 85%);

}

body{
    padding:10%;
    background-color: var(--light-blue);
    font-family: 'Outfit', sans-serif;
}


.main-container{
   
    text-align: center;
    
}

.container{
    
    padding: 15px;
    background-color: var(--white);
    border-radius: 20px;
    
    
}



.qrcode img{
    width:100%;
    border-radius: 15px;
}



p:first-child{
    font-weight: 700;
    color:var(--dark-blue);
    font-size: 1.2rem;
}

p:nth-child(2){
    font-weight: 400;
    color:var(--grayish-blue);
    font-size: 0.8rem;
}

aside{
    margin-top: 20px;
}

.attribution{
    color:var(--dark-blue);
}

.attribution a {
    color:var(--dark-blue);
    font-weight: 700;
}

/* Tablet screens */
@media screen and (min-width:768px){
    body{
        padding:20%;
    }
    
  .container{
    padding: 20px;
    border-radius: 35px;
  }

  p:first-child{
    font-size:2rem;
  }

  p:nth-child(2){
    font-size: 1.3rem;
  }

}


/* Desktop screens */
@media screen and (min-width:1024px){

    body{
        padding:20% 30%;
    }
    
    .container{
        padding: 15px;
        border-radius: 15px;
    }
    .main-container{
        width: 350px;
        
    }

    p:first-child{
        font-size: 1.5rem;
    }

    p:nth-child(2){
        font-size: 1rem;
    }

}

