:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue:hsl(218, 44%, 22%);
    --light-blue:hsl(210, 54%, 73%);

}


html{
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
}

body{
    font-size: 1.5rem;
    background-color: var(--light-blue);
    margin:10px;
}


.container{
    background-color: var(--white);

    width: 60%;
   
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    position:relative;
    left: 20%;
    margin-top: 20%;
  
    

    }

.qrcode{
    width:100%;
    object-fit: cover;
}

.qrcode img{
    width:100%;
    border-radius: 5px;

}


p:first-child{
    font-weight: 700;
    color: var(--dark-blue);
    text-align: center;
    font-size: 1rem;
    padding: 2px 5px;
    
}


p:nth-child(2){
    color: var(--grayish-blue);
    font-weight: 400;
    font-size: 0.7rem;
    text-align: center;
    padding:5px;
    margin-top: -5px;
    
}

.attribution { 
    font-size: 1rem; 
    text-align: center; 
    color: var(--dark-blue);
    position: relative;
    top: 15px;
    
    
}




.attribution a { 
    color: hsl(212, 89%, 14%);
 }